{{- /* Kale <img>, geen class/id (die zet inline_attributes.html erna); lokale raster-afbeelding wordt webp, max 1920px breed, niet vergroot. */ -}}
{{- $src := .Destination -}}
{{- $dims := "" -}}
{{- with resources.GetMatch $src -}}
    {{- if ne .MediaType.SubType "svg" -}}
        {{- $img := . -}}
        {{- if gt .Width 1920 -}}{{- $img = .Resize "1920x webp q50" -}}{{- else -}}{{- $img = .Process "webp q50" -}}{{- end -}}
        {{- $src = $img.RelPermalink -}}
        {{- $dims = printf ` width="%d" height="%d"` $img.Width $img.Height -}}
    {{- end -}}
{{- end -}}
<img src="{{ $src | safeURL }}" alt="{{ .PlainText }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ $dims | safeHTMLAttr }}>
{{- /* geen trailing newline: render hook schrijft inline content */ -}}
