{{- /* Krijgt al-gerenderde HTML binnen; home.html rendert de markdown zelf, */ -}}
{{- /* zodat de has-*-detectie op de echte output kan kijken.                 */ -}}
{{- $content := printf "%s" . -}}

{{- $paragraphs := split $content "</p>" -}}
{{- $last := index $paragraphs (sub (len $paragraphs) 2) -}}
{{- $trimmed := trim $last " \n\r\t" -}}
{{- if and (hasPrefix $trimmed "<p><a") (hasSuffix $trimmed "</a>") -}}
    {{- $lastWithBtn := replace $last "<a" "<a class='btn'" -}}
    {{- $before := delimit (first (sub (len $paragraphs) 2) $paragraphs) "</p>" -}}
    {{- if gt (len (trim $before " \n\r\t")) 0 -}}
        {{- $content = printf "%s</p>%s</p>" $before $lastWithBtn | safeHTML -}}
    {{- else -}}
        {{- $content = printf "%s</p>" $lastWithBtn | safeHTML -}}
    {{- end -}}
{{- end -}}

{{- $content | safeHTML -}}