<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.documentElement.classList.add('js')</script>

    <title>{{ (replace .Title "<br>" "") | safeHTML }} | {{ .Site.Title | safeHTML }}</title>
    {{ if .IsHome }}
      <meta name="description" content="{{ plainify .Summary }}">
    {{ else }}
      <meta name="description" content="{{ $.Site.Params.description }}">
    {{ end }}

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="shortcut icon" sizes="192x192" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/favicon.png">

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" href="/css/fonts.css?version={{ now }}">
    <link rel="stylesheet" href="/css/style.css?version={{ now }}">
    <link rel="stylesheet" href="/css/carousel.css?version={{ now }}">
    <link rel="stylesheet" href="/css/accordion.css" />


    <script defer src="/js/lenis.min.js"></script>
    <script defer src="/js/hasscrolled.js"></script>
    <script defer src="/js/scroll-reveal.js"></script>
    {{ partial "section-based-scripts.html" . }}
    {{- partial "svg-sprite" . -}}
  </head>
  <body id="top" {{ with .Section }} class='{{ . }}' {{ end }}>

    <header>
        <div class="container">
            <nav>
                <a href="/#top" class="logo">{{ partial "logo.html" . }}</a>
                <ul>
                    {{ range site.Data.navigation }}
                    <li><a href="{{ .url }}"{{ if hasPrefix (lower .url) "http" }} target="_blank" rel="noopener"{{ end }} onclick="document.body.classList.remove('menuopen')">{{ .title }}</a></li>
                    {{ end }}
                </ul>
                <button onclick="document.body.classList.toggle('menuopen')">Menu</button>
            </nav>
        </div>
    </header>
    <main>
        {{- block "content" . -}}{{- end -}}
    </main>
    <footer id="footer">
        <div class="container">
            <div class="left">
                <a href="/{{ if .IsHome }}#top{{ end }}" aria-label='{{ site.Title }} logo' class="logo">{{ partial "logo.html" . }}</a>
                <address>
                    {{ site.Data.footer.text | safeHTML }}
                </address>
                <ul>
                    {{ range site.Data.footer.companies }}
                        <li><a href="{{ .url }}"{{ if hasPrefix (lower .url) "http" }} target="_blank" rel="noopener"{{ end }}><span>{{ .name }}</span></a></li>
                    {{ end }}
                </ul>
            </div>
            {{ with site.Data.footer }}
                {{ range slice .large_link_top .large_link_bottom }}
                    {{ if and .name .url }}
                        <a class='large' href="{{ .url }}"{{ if hasPrefix (lower .url) "http" }} target="_blank" rel="noopener"{{ end }}>{{ .name }}</a>
                    {{ else }}
                        {{ partial "socials" . }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
        <div class="postfooter">
            <div class="container">
                <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
                <ul>
                    {{ range where site.RegularPages "Section" "legal" }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </footer>

    <script>
        if (window.location !== window.parent.location) {
            const script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://cms.usecue.com/js/monitoriframe.js';
            document.body.append(script);
        }
    </script>

    <script type="text/javascript">
    _linkedin_partner_id = "9574716";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(l) {
    if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
    window.lintrk.q=[]}
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})(window.lintrk);
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=9574716&fmt=gif" />
    </noscript>

  </body>
</html>