{{- $icons := resources.Match "/img/icons/*.svg" -}}
{{- $symbols := slice -}}

{{- range $icons -}}
  {{- $id := replace .Name "/img/icons/" "" | replaceRE "\\.svg$" "" -}}
  {{- $svg := .Content -}}

  {{- $viewBox := $svg | replaceRE `(?s).*<svg[^>]*viewBox="([^"]+)"[^>]*>.*` "$1" -}}
  {{- $content := $svg | replaceRE `(?s).*<svg[^>]*>(.*?)</svg>` "$1" -}}

  {{/* fill="none" eerst als ongequote placeholder parkeren, anders matcht de regel hieronder 'm ook. */}}
  {{- $content = $content | replaceRE `\sfill="none"` ` fill=__NONE__` -}}
  {{- $content = $content | replaceRE `\sfill="[^"]+"` ` fill="currentColor"` -}}
  {{- $content = $content | replaceRE `\sfill=__NONE__` ` fill="none"` -}}

  {{- $symbol := printf `<symbol id="%s" viewBox="%s">%s</symbol>` $id $viewBox $content -}}
  {{- $symbols = $symbols | append $symbol -}}
{{- end -}}

{{- $sprite := printf `<svg xmlns="http://www.w3.org/2000/svg" style="display:none">%s</svg>` (delimit $symbols "\n") -}}
{{- $out := $sprite | resources.FromString "img/xref.svg" | resources.Minify -}}
{{- $file := $out.RelPermalink -}}